@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Manrope', Arial, sans-serif;
  letter-spacing: 0.02em;
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #F7F8FA;
  color: #040F29;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h4,
h5,
h6 {
  font-weight: 500;
}

p,
button {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}
.text-medium {
  font-weight: 600;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  font-family: 'Manrope', sans-serif;
}


.btn-primary {
  background: #ffc001;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.25em;
  text-align: center;
  color: #ffffff;
  &:active {
    opacity: 0.9;
  }
}

.btn-secondary {
  background: #d6e7ff;
  border-radius: 5px;
  font-style: normal;
  font-weight: 600;
  font-size: 1em;

  line-height: 1.25em;
  text-align: center;
  color: #040F29;
  &:active {
    opacity: 0.9;
  }
}

.select {
  background: #f6f7f9;
  border: 1px solid #edeff2;
  box-sizing: border-box;
  padding: 10px;
}

.maze{
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  display: grid;
}

.maze-cell{
  border: solid 0.5px rgba(13, 101, 132, 0.16);
}

.north{
  border-top: solid 2px black;
}
.west{
  border-left: solid 2px black;
}
